	.st0 {
	    fill: url(#SVGID_1_);
	}
	
	.st1 {
	    fill: hsl(0, 98%, 35%);;
	}
	
	.st2 {
	    fill: #273941;
	}
	
	.st3 {
	    fill: #FEC83D;
	}
	
	.st4 {
	    fill: #FFD880;
	}
	
	.st5 {
	    fill: #BF912C;
	}
	
	.st6 {
	    fill: #282828;
	}